<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!--去这些包里面寻找注解  -->
	<context:annotation-config/>
	<context:component-scan base-package="com"/>
	<!-- 配置连接池: -->
	<!-- 引入外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	<!-- 配置C3P0连接池: -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="driverClass" value="${jdbc.driver}"/>
		<property name="jdbcUrl" value="${jdbc.url}"/>
		<property name="user" value="${jdbc.user}"/>
		<property name="password" value="${jdbc.password}"/>
	</bean>
	
	<!-- Hibernate的相关信息 -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<!-- 注入连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!-- 配置Hibernate的其他的属性 -->
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<!-- 配置Hibernate的映射文件 -->
		<!-- 实体类所在的包 对包中每个类进行注解扫描 省去逐一配置-->
		<property name="packagesToScan">
			<list><value>com.chen.entity</value></list>
		</property>
	</bean>
	
	<!-- 事务管理: -->
	<!-- 事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- Action的配置 ===========================-->
	
	<!-- 首页访问的Action -->
	<bean id="indexAction" class="com.chen.action.IndexAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
		<property name="productService" ref="productService"/>
	</bean>
	
	<!-- 配置验证码Action -->
	<bean id="checkImgAction" class="com.chen.action.CheckImgAction" scope="prototype">
		
	</bean>
	
	<!-- 用户模块的Action -->
	<bean id="userAction" class="com.chen.action.UserAction" scope="prototype">
		<!-- 注入Service -->
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- 商品模块的Action -->
	<bean id="productAction" class="com.chen.action.ProductAction" scope="prototype">
		<property name="productService" ref="productService"/>
	</bean>
	
	<!-- 购物车的Action -->
	<bean id="cartAction" class="com.chen.action.CartAction" scope="prototype">
		<property name="productService" ref="productService"/>
	</bean>
	
	<!-- 配置OrderAction -->
	<bean id="orderAction" class="com.chen.action.OrderAction" scope="prototype">
		<property name="orderService" ref="orderService"/>
	</bean>
	
	<!-- 配置后台登录的Action -->
	<bean id="adminUserAction" class="com.chen.adminaction.AdminUserAction" scope="prototype">
		<property name="adminUserService" ref="adminUserService"/>
	</bean>
	
	<!-- 配置后台一级管理的Action -->
	<bean id="adminCategoryAction" class="com.chen.adminaction.AdminCategoryAction" scope="prototype">
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	<!-- 配置后台二级分类管理的Action -->
	<bean id="adminCategorySecondAction" class="com.chen.adminaction.AdminCategorySecondAction" scope="prototype">
		<property name="categorySecondService" ref="categorySecondService"/>
		<property name="categoryService" ref="categoryService"/>
	</bean>
	
	<!-- 配置后台商品管理的Action -->
	<bean id="adminProductAction" class="com.chen.adminaction.AdminProductAction" scope="prototype">
		<property name="productService" ref="productService"/>
		<property name="categorySecondService" ref="categorySecondService"/>
	</bean>
	
	<!-- 配置后台订单管理的Action -->
	<bean id="adminOrderAction" class="com.chen.adminaction.AdminOrderAction" scope="prototype">
		<property name="orderService" ref="orderService"/>
	</bean>
	<!-- 配置后台用户管理的Action -->
	<bean id="userAdminAction" class="com.chen.adminaction.UserAdminAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	
	<!-- Service的配置  ===========================-->
	<bean id="userService" class="com.chen.service.impl.UserService">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<bean id="categoryService" class="com.chen.service.impl.CategoryService">
		<property name="categoryDao" ref="categoryDao"/>
	</bean>
	
	<bean id="productService" class="com.chen.service.impl.ProductService">
		<property name="productDao" ref="productDao"/>
	</bean>
	
	<bean id="orderService" class="com.chen.service.impl.OrderService">
		<property name="orderDao" ref="orderDao"/>
	</bean>
	
	<bean id="adminUserService" class="com.chen.service.impl.AdminUserService">
		<property name="adminUserDao" ref="adminUserDao"/>
	</bean>
	
	<bean id="categorySecondService" class="com.chen.service.impl.CategorySecondService">
		<property name="categorySecondDao" ref="categorySecondDao"/>
	</bean>
	
	<!-- Dao的配置  ===========================-->
	<bean id="userDao" class="com.chen.dao.impl.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="categoryDao" class="com.chen.dao.impl.CategoryDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>	
	
	<bean id="productDao" class="com.chen.dao.impl.ProductDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="orderDao" class="com.chen.dao.impl.OrderDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="adminUserDao" class="com.chen.dao.impl.AdminUserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="categorySecondDao" class="com.chen.dao.impl.CategorySecondDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
